@import url(<link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">);



/*font-family: 'Secular One', sans-serif;
*/

.columnLeft{
	margin-left:15px;
	display: inline-block;
	background-color: lightblue;
}

.columnRight{
	margin-right: 15px;
	display: inline-block;
	background-color: lightgreen;
}