@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);


h2 {
	color: #ff7400;
	font-family:"Delius Unicase", sans-serif;
	margin-bottom: 5px;
}
form {
	font-family: "arial";
	font-size: 16px;
	line-height: 30px;
	color: #999;
	float: left;
}

#container {
	width: 960px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #f0eee8;
	padding-bottom: 30px;
}
#donate {
	width: 450px;
	float: left;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 15px;
}
#contactinfo {
	float: left;
	width: 450px;
	box-sizing: border-box;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 15px;	
}

.input-field {
	width: 400px;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 10px;
}
#rule {
	width: 900px;
	height: 4px;
	background-color: #fff;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
}