@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);

html, body {
	padding: 0;  margin: 0;
}
p {
	font-family: "arial";
}
nav {
	margin-bottom: 30px;
	padding: 2px 0px 2px 0px;
	background-color: #008aff;
	clear: both;
}

ul.top-nav {
	list-style-type: none;
}

ul.top-nav li {
	display: inline-block;
	padding-right: 20px;
}

ul.top-nav li a {
	color: #000;
	font-family: "arial";
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

ul.top-nav li a:hover {
	color: #a8d0f3;
}
#branding {
	background-color: #003c7a;
}

#logo {
	font-family:"Delius Unicase", sans-serif;
	font-weight: 700;
	font-size: 42px;
	color: #fff;
	padding-top: 25px;	
	padding-left: 40px;
	width: 400px;
	height: 75px;
	float: left; 
}
#logoimage {
	float: left;
	height: 100px; 
}

.clear {
	clear: both;
}
#bottom {
	background-color: #333;
}
#footer {
	width: 960px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footertext {
	width: 450px;
	float: left;
}
#footertext p {
	color: #fff;
	font-family: "arial";
	font-size: 14px;
}
#socialicon {
	float:left;
	margin-right: 20px;
	margin-top: 20px;
}

